@media only screen and (min-width: 768px) {
  body {
    background-image: url(bulldog.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 190px;

  }

  .topleft {
    font-size: 20;
    font-weight: 300;
  }
  .topright {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 350px;
    align-content: space-between;
  }

  .bottomleft {
    width: 35%;
    margin: 30px;
  }
  .bottomright {
    width: 45%;
    margin: 30px;
  }

  .text1 {
    color: #FF4850;
  }
  .text2 {
    color: #88898B;
    font-weight: 200;
  }
  .text3 {
    font-size: 30;
    font-weight: 600;
  }
  .text4 {
    font-weight: 200;
    color: #88898B;
  }

  .button1 {
    color: #88898B;
    background-color: #F0ECEE;
    width: 100%;
    border-radius: 15px;
    padding: 10px;

  }

}
html {
  Font-family: Fira Sans;
  background-color: #F0ECEE;
}
.flex-container {
  flex-direction: column;
}
.topleft {
  font-size: 20;
  font-weight: 300;
}

.text1 {
  color: #FF4850;
}
.topright {
  flex-direction: column;
}

.button1 {
  color: #88898B;
  background-color: #F0ECEE;
  width: 25%;
  border-radius: 15px;
  padding: 10px;
}
.button1:hover {
  background-color: #FF4850;
  color: white;
}
.button2 {
  color: white;
  background-color: #FF4850;
  width: 25%;
  border-radius: 15px;
  padding: 10px;
}
.button2:hover {
  background-color: #CCC;
  color: #FF4850;
}
.button3 {
  color: white;
  background-color: #FF4850;
  width: 25%;
  border-radius: 15px;
  padding: 10px;
}
.button3:hover {
  background-color: #CCC;
  color: #FF4850;
}
